* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.product-comparison {
    padding: 2rem 1rem;
    max-width: 1400px;
    margin: 0 auto;
    background: #ededed;
}

.title {
    font-size: 1.75rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}

.comparison-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: start;
}

.side-image {
    display: none;
}

.side-image img {
    width: 100%;
    max-width: 270px;
    height: auto;
}

.comparison-content {
    width: 100%;
}



.weight-bold {
    font-family: TSTAR-PRO-Bold, sans-serif;
    font-weight: 700;
}

.header-grid {
    display: grid;
    grid-template-columns: 5fr 2fr 5fr;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;
}

.subtitle {
    font-size: 1.25rem;
    font-weight: 800;
    text-transform: uppercase;
}

.subtitle.left {
    text-align: left;
    color: #ee2326;
}

.subtitle.right {
    text-align: right;
    color: #009fda;
}

.mobile-images {
    display: grid;
    grid-template-columns: 5fr 2fr 5fr;
    gap: 0;
}

.mobile-images img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.mobile-images .left {
    justify-self: start;
}

.mobile-images .right {
    justify-self: end;
}

.comparison-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    text-align: center !important;
    align-items: center;
    padding-bottom: .625rem !important;

    --bs-gutter-x: 1rem;
    --bs-gutter-y: 0;

    margin-top: calc(-1*var(--bs-gutter-y));
    margin-right: calc(-0.5*var(--bs-gutter-x));
    margin-left: calc(-0.5*var(--bs-gutter-x));
}



.comparison-value {
    font-size: 1rem;
    font-family: TSTAR-PRO-Heavy, sans-serif;
    font-weight: 900;
}

h4,
.h4 {
    font-size: 1.125rem;
    font-kerning: auto;
    letter-spacing: normal;
    line-height: 1.5rem;
}


.comparison-label {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    font-family: TSTAR-PRO-Bold, sans-serif;
}

/* Desktop */
@media (width >=1024px) {
    .product-comparison {
        padding: 5rem 1rem;
    }

    .title {
        font-size: 2.5rem;
        margin-bottom: 4rem;
    }

    .comparison-wrapper {
        grid-template-columns: 270px 1fr 270px;
        gap: 2rem;
    }

    .side-image {
        display: block;
    }

    .header-grid {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 4rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .subtitle.left {
        text-align: center;

    }

    .subtitle.right {
        text-align: center;

    }

    .mobile-images {
        display: none;
    }

    .comparison-row {
        gap: 2rem;
        padding: 2rem 0;
    }

    .comparison-value,
    .comparison-label {
        font-size: 1.125rem;
    }
}